:root {
  --bg-color: #121212;
  --text-color: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: white;
  --bg-about: rgb(188, 149, 95);
}
:root[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --bg-about: rgb(188, 149, 95);
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
}

.navbar {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
  animation: fadeIn 0.8s ease-in-out forwards;
}

.navbar.scrolled {
  background-color: rgba(155, 155, 155, 0.7); /* semi-transparent for dark mode */
  color: var(--text-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
}

.nav-button,
.category-button,
#theme-toggle {
  min-height: 35px;
  min-width: 35px;
  color: var(--text-color);
}

.navbar a {
  color: inherit;
  .scroll-reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .scroll-reveal.visible {
    opacity: 1;
    color: var(--text-color);
    transform: translateY(0);
  }

  text-decoration: none;
  transition: color 0.4s ease;
}
.blueprint-wrapper {
  background: linear-gradient(rgba(143, 88, 5, 0.653), rgba(255, 255, 255, 0.5)),
    repeating-linear-gradient(
      0deg,
      rgba(0, 51, 102, 0.05),
      rgba(0, 51, 102, 0.05) 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 51, 102, 0.05),
      rgba(0, 51, 102, 0.05) 1px,
      transparent 1px,
      transparent 20px
    );
  border: 2px solid rgba(0, 51, 102, 0.1);
  border-radius: 12px;
  padding: 3rem 2rem;
  max-width: 900px;
  margin: 4rem auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  direction: rtl;
}

.blueprint-wrapper h1,
.blueprint-wrapper h2 {
  color: var(--text-color);
  border-bottom: 1px solid rgba(0, 51, 102, 0.2);
  padding-bottom: 0.3rem;
  margin-top: 2rem;
}

.blueprint-wrapper ul {
  padding-right: 1.2rem;
}

.blueprint-wrapper a {
  color: #003366;
  text-decoration: underline;
}
